/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Your code starts here! */

p {
  line-height: 1.2;
}

.pt-50 {
  padding-top: 50px;
}

.pd-50-0 {
  padding: 50px 0;
}

.mg-50-0 {
  margin: 50px 0;
}

.mg-50-0-20 {
  margin: 50px 0 20px;
}

.ml-120 {
  margin-left: 120px;
}

.ml-130 {
  margin-left: 130px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

.flex {
  display: flex;
}

.mw-330 {
  max-width: 330px;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.container,
.header-container {
  max-width: 880px;
  margin: 0 auto;
  /* padding: 0 15px; */
  width: 100%;
}

.navigation {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.main-navigation a {
  margin-left: 58px;
  text-decoration: none;
  color: #d1d1d1;
}

.main-navigation a:first-child {
  margin-left: 0;
}

.logo {
  margin-left: 50px;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 4px 47px;
  border: 1px solid #000;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  position: relative;
  z-index: 2;
  transition: all 1s ease;
  margin-top: 25px;
}


.btn::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  background: transparent;
  height: 100%;
  z-index: -1;
  transition: all 0.75s ease 0s;
  width: 0;
}

.btn:hover {
  cursor: pointer;
}

.btn:hover::after {
  background: #d1d1d1;
  transform: translateX(-50%);
  width: 100%;
}

.header-content-band {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {  
  margin-left: 130px;
  margin-top: 25px;
}

header h1 {
  font-size: 70px;
  margin-top: 25px;
}

.border-top {
  border-top: 2px solid #000;
}

.main-content {
  padding: 50px 10px 0;
}

.main-content div {
  width: 390px;
}

.main-content div:first-child {
  margin-right: 34px;
}

.three-columns {
  padding: 50px 10px 0;
}

.three-columns div {
  margin-right: 12px;
  width: 270px;
}

.three-columns div:last-child {
  margin-right: 0;
}


/* Contact Section */

.contact h2 {
  display: inline-block;
}

.address-info {
  max-width: 220px;
}

.address-info a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}

footer {
  margin-top: 40px;
  margin-bottom: 80px;
}


/* Services  Page */

.services-header-img {
  margin: 30px 0;
  max-width: 100%;
  height: auto;
}

.text-md {
  font-size: 28px;
}

.service-cards {
  border-top: 1px solid #000;
  padding: 50px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card {
  background: #eee;
  padding: 25px;
  border: 1.25px solid #000;
}

.service-cards .card {
  flex: 0 0 100%;
  margin-bottom: 30px;
}

.card p {
  margin-bottom: 10px;
  line-height: 1.2;
}

.btn-white {
  background: #fff;
  padding: 8px 25px;
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #000;
  transition: 0.2s all ease-in-out;
}

.btn-white:hover {
  opacity: 0.75;
}

.facts {
  border-top: 2px solid #000;
  padding: 40px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 85px;
}

.facts div {
  width: 410px;
}

.services-info-img {
  max-width: 100%;
  height: auto;
}

.list-style-sq {
  list-style: square;
  padding-left: 20px;
  margin-top: 25px;
}

.list-style-sq li {
  margin-top: 15px;
}

.middle-img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  .header-img {
    display: none;
  }

  .navigation {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo-container {
    display: block;
    order: -1;
    width: 100%;
    text-align: center;
  }

  .logo {
    margin-left: 0;
  }

  .main-navigation {
    margin-top: 37px;
    width: 100%;
  }

  .main-navigation a {
    margin-left: 78px;
  }

  .main-navigation a:first-child {
    margin-left: 30px;
  }

  .header-content-band {
    justify-content: center;
    margin: 25px 0 75px;
  }

  .header-content {
    margin-left: 0;
    margin-top: 0;
  }

  .header-content h1 {
    margin-top: 50px;
    margin-bottom: 3px;
  }

  .container {
    padding: 0 20px;
  }

  .main-content {
    padding: 36px 10px 0;
  }

  .main-content div:first-child {
    margin-right: 20px;
  }

  .main-content {
    margin-bottom: 25px;
  }

  .middle-img-section {
      margin: 0 auto;
      max-width: 760px;
  }

  .three-columns {
    padding: 30px 10px 0;
    margin-bottom: 27px;
    justify-content: flex-start;
  }

  .three-columns div {
    margin-right: 42px;
    width: 212px;
  }

  .contact {
    padding: 35px 10px 0;
  }

  footer {
    margin-top: 38px;
  }

}


@media (max-width: 500px) {
  .header-container {
    padding: 0;
  }

  .navigation {
    margin-top: 20px;
  }

  .main-navigation { 
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .main-navigation a {
    margin-left: 0;
    font-size: 20px;
    padding: 20px 0;
    border-top: 1px solid #d1d1d1;
    display: inline-block;
    width: 100%;
  }

  .main-navigation a:last-child {
      border-bottom: 1px solid #d1d1d1;
  }

  .header-content h1 {
    margin-top: 25px;
    margin-bottom: 5px;
  }

  .main-content {
    flex-direction: column;
    padding: 57px 0 0;
  }

  .main-content div {
    width: 100%;
    margin-right: 0;
  }

  .main-content div:last-child {
    margin-top: 44px;
  }

  .middle-img-section {
    max-width: 460px;
    margin: 50px auto 0;
  }

  .three-columns {
    padding: 28px 0 0;
    flex-direction: column;
  }

  .contact {
    padding: 35px 0 0;
  }

  .three-columns div {
    width: 100%;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .three-columns div:last-child {
    margin-bottom: 5px;
  }
}