/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

p {
	line-height: 1.2;
}

.pt-50 {
	padding-top: 50px;
}

.pd-50-0 {
	padding: 50px 0;
}

.mg-50-0 {
	margin: 50px 0;
}

.mg-50-0-20 {
	margin: 50px 0 20px;
}

.ml-120 {
	margin-left: 120px;
}

.ml-130 {
	margin-left: 130px;
}

.mt-25 {
	margin-top: 25px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-30 {
	margin-bottom: 30px;
}

.flex {
	display: flex;
}

.mw-330 {
	max-width: 330px;
}

.justify-center {
	justify-content: center;
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.container {
	max-width: 880px;
	margin: 0 auto;
	width: 100%;
	@media @tablet {
		padding: 0 20px;
	}
}

.text-center {
	text-align: center;
}

.border-top {
	border-top: 2px solid #000;
}
